
*{

    margin: 0;
    padding: 0;
}

html{

    scroll-behavior: smooth;
 }

header {

    width: 100%;
    height: 100vh;
    background: url("/img/bg-header.png");
    background-size: cover;
    padding-bottom: 150px;
    

    
}



header nav{
    
     width: 80%;
     margin: 0 auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-top: 20px;
     padding-bottom: 70px;
     
     
}    
nav ul a{
    color: white;
    font-size: 24px;
    padding: 8px 12px;
    margin: 0 20px;
    text-decoration: none;
    
}



#hero{

    text-align: center;
    padding-top: 150px;
    
}

#hero h2{
    font-size: 50px;
    color: yellow;

}

#hero h1{
    color: white;
    font-size: 30px;

}

#hero button{
    font-size: 30px;
    padding: 5px 15px;
    background: yellow;
    color: gray;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 50px;
    
}

#planes{

    width: 100%;
    background: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
    
}

#planes h2{

    font-size: 50px;
    margin-bottom: 60px;
}

#planes p{

    font-size: 25px;
    color: black;
    padding-top: 3px;
}


#planes .fila{

    display: flex;
    width: 70%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 30px;
}


#planes .col-plan{

    position: relative;
    z-index: 1;
}

#planes .col-plan h3{

    position: absolute;
    z-index: 3;
    top: 110px;
    left: 0;
    right: 0;
    color: yellow;
    text-decoration: none;
    font-size: 25px;
    
    
}

#destinos{
    width: 100%;
    text-align: center;
    background: url(/img/bg-destinos.png);
    padding-top: 165px;
    padding-bottom: 165px;
    background-size: cover;
}

#destinos h2{

    color: yellow;
    margin-bottom: 30px;
    font-size: 50px;
    
}

#destinos .fila{
  
    
    display: flex;
    justify-content: space-between; /* Alinea los contenedores al inicio y al final del contenedor principal */
    align-items: center; /* Alinea los contenedores en la parte superior del contenedor principal */
    width: 100%;
    
    
}

#destinos h3{
    color: white;
    font-size: 32px;
}

#destinos .col-destinos1{
    
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna dentro de cada contenedor */
    align-items: center;
   
}

#destinos .col-destinos2{

    display: flex;
    flex-direction: column; /* Alinea los elementos en columna dentro de cada contenedor */
    align-items: center;
   
}

#contacto{
 
    width: 100%;
    background: yellow;
    text-align: center;
    padding-top: 160px;
    padding-bottom: 160px;
    font-size: 20px;
    

}

#contacto p{
  
    margin: 20px;
    padding-bottom: 20px;
    text-align: center;
    
    
}

#contacto h2{
  
    font-size: 30px;
    text-align: center;
    
}

#contacto .fila{


   
   
    font-size: 15px;
    padding: 30px;

    
    
    


 

}

#contacto .col-contacto{

  
    
    display: flex;
    justify-content: center;
    padding-right: 400px;
 
    

}

#contacto .col-contacto2{

  
    
    display: flex;

   justify-content: center;
    padding-right: 400px;
    padding-left: 0 0px 0px;
    
    
 
    

}

#contacto .col-contacto3{

   
    display: flex;
    justify-content: center;
    padding-left: 130px;
   


}



#contacto .col-contacto4{

 
    display: flex;
    justify-content: center;
    padding-left: 130px;
    

}


#pie{

    width: 100%;
    background: black;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 20px;
    color: white;

     
     
}

#pie .esta{

    
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;

}


#contacto button{
font-size: 20px;
  border-radius: 10px;
  margin-top: 20px;
  color: white;
  border: transparent;
  width: 90px;
  height: 30px;
  background: black;

}